**/.idea/*
.mypy_cache/
.pytest_cache/
.editorconfig
.coverage
coverage/*
.DS_Store
._.DS_Store
.noseids
.happypack
*~
*.mo
*.py[co]
*.sw[po]
*.sqlite
pip-log.txt
/docs/build
/static/build
node_modules/
bower_components/
tmp/*
npm-debug.log
.revision
staticfiles.json
!manifests/staticfiles.json
!manifests/uk/staticfiles.json
.ropeproject/
.vim/
/env
.venv
.vscode/
static/jsbuild/
*.code-workspace
yarn-error.log

# ignore dev settings
shafa/settings/develop_api_my.py
shafa/settings/develop_app_my.py
config/settings/app.override.yaml

# ignore deployment fabfile
fabfile.py

.vagrant/
# vagga

.unison.*
.vagga/

Vagrantfile
extras/

config/ipython/profile_default/

# IPython
config/ipython/**
!config/ipython/profile_sync/startup/*
!config/ipython/profile_sync/ipython_config.py
!config/ipython/profile_async/startup/*
!config/ipython/profile_async/ipython_config.py
